<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<link type="text/css" rel="stylesheet" href="/static/css/calendar.css" />
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/js/calendar.js"></script>
{%block script_css%}{%endblock%}
<title>{%block title%}{%endblock%}-collectcode</title>
</head>
<body>
	<div id="main">
		<header>		
			<div id="logo">
				<h1>Barney's blog</h1>
			</div>
			<nav>
				<ul class="lavaLampWithImage" id="lava_menu">
					<li class="current"><a href="/">home</a></li>
					<li><a href="/blogs">blogs</a></li>
					<li><a href="#">about me</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</nav>
		</header>
		<div id="site_content">

			<div id="sidebar_container">
			<div class="sidebar">
			<div id="cal">
				<div id="top">公元
				<select>
				</select>
				年
				<select>
				</select>
				月
				</div>
				<ul id="wk">
				<li>一</li>
				<li>二</li>
				<li>三</li>
				<li>四</li>
				<li>五</li>
				<li><b>六</b></li>
				<li><b>日</b></li>
				</ul>
				<div id="cm"></div>
				<div id="bm"></div>
				</div>
			</div>
				<div class="sidebar">
					<h5>Tags</h5>
					<div class="tag">
					{%autoescape off%}
						{{tagsls}}
						{%endautoescape%}
					</div>
				</div>
				<div class="sidebar">
					<h5>Recent Comments</h5>
					{%for c in clist%}
					<h4>
						<a href="/blog/{{c.blog_id}}">{{c.comment}}</a></h4>
					{%endfor%}
				</div>
			</div>
			<div id="content">{%block content%}{%endblock%}</div>
		</div>
		<footer>
			<p>{%if user%}站长在此!<a href="/logout/">登出</a>{%endif%} Copyright&copy; 2014-{%now "Y"%} <a href="http://www.collectcode.me">collectcode.me</a> All Rights
				Reserved</p>
		</footer>
	</div>
</body>
</html>
