{%extends 'base.html'%}
{%block title%}
{{tag}}
{%endblock%}
{%block content%}
{%load base_filter%}
<h3>{{tag}}</h3>

{%for blog in bloglist%}
<a href="/blog/{{blog.id}}" class="title">{%if blog.top%}[置顶]{%endif%}{{blog.title}}</a>
<hr/>
<div class="blog">
{{blog.note|remove_html_tags|safe|truncatewords_html:50}}
</div>
<h4>recent update {{blog.last_time|date:'Y-m-d H:i:s'}}
{%for t in taglist%}{%if blog.id == t.blogs_id%} <a href="/tags/{{t.tag}}" {%if t.tag == tag%}class="search"{%endif%}>{{t.tag}}</a>{%endif%}{%endfor%}
views({{blog.views}}) comments({{blog.comments}}) {%if user%} <a href="/admin/blog/{{blog.id}}/">编辑</a> <a href="/admin/blog/delete/{{blog.id}}/" onclick="if (confirm('确定删除?')){ return true;}else{return false;}">删除</a> {%endif%}
</h4>
{%empty%}
 <li>Sorry, no blogs in this list.</li>
{%endfor%}
{%endblock%}