<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/styles/shCoreDefault.css"/>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<link type="text/css" rel="stylesheet" href="/static/css/login.css" />
<script type="text/javascript" src="/static/js/h.js"></script>

<title>{{blog.title}}-collectcode</title>
</head>
<body>
	<div id="main">
		<header>		
			<div id="logo">
				<h1>Barney's blog</h1>
			</div>
			<nav>
				<ul class="lavaLampWithImage" id="lava_menu">
					<li class="current"><a href="/">home</a></li>
					<li><a href="/blogs">blogs</a></li>
					<li><a href="/about">about me</a></li>
					<li><a href="/contact">contact</a></li>
				</ul>
			</nav>
		</header>
<div id="site_content_blog">
<h3><a href="/">首页</a> > <a href="/blogs/">文章</a></h3>
<h1>{{blog.title}}</h1>
	{%autoescape off%}
	{{blog.note}}
	{%endautoescape%}
	
<div class="tags_blog">tags:{%for t in tags_ls%}<a href="/tags/{{t.tag}}">{{t.tag}}</a> {%endfor%}
&nbsp;&nbsp;views:{{blog.views}}&nbsp;&nbsp;comments:{{blog.comments}}
</div>	
{%for c in list%}
<b class="bx">评论</b>
<hr/>
<dl>
<dt>{{forloop.counter}}楼 {{c.email}} posted on {{c.last_time|date:'Y-m-d H:i:s'}}</dt>
<dd>{{c.comment|safe}} <a href="javascript:void(0)" onclick="reply_comment('{{c.email}}')">回复</a></dd>
</dl>
{%endfor%}

<b class="bx">发表评论:</b>
{%csrf_token%}
*email:<span class="error" id="email_error"></span><br/>{{form.email}} <br/>
*comment:<span class="error" id="comment_error"></span><br/>{{form.comment}}<br/>
<input type="hidden" name="blogid" value="{{blog.id}}"/>
<input type="hidden" name="next" value="/blog/{{blog.id}}"/>
<input type="submit" value="post comment" id="post_comment"/>

</div>
		<footer>
			<p>{%if user%}站长在此!{%endif%} Copyright&copy; 2014-{%now "Y"%} <a href="http://www.collectcode.me">collectcode.me</a> All Rights
				Reserved</p>
		</footer>
	</div>
</body>
</html>